.inc-exp-container {
    background-color: #f7931d;
    box-shadow: var(--box-shadow);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    width: 125%;
    color: black;
}
  
.inc-exp-container > div {
    flex: 1;
    text-align: center;
}
  
.inc-exp-container > div:first-of-type {
    border-right: 1px solid #dedede;
}

.money {
    font-size: 20px;
    letter-spacing: 1px;
    margin: 5px 0;
}
  
.money.plus {
    color: white;
}
  
.money.minus {
    color: white;
}
  
label {
    display: inline-block;
    margin: 10px 0;
    font-size: 20px;
    
}